bin/Debug/netcoreapp3.0/appsettings.Development.json
bin/Debug/netcoreapp3.0/appsettings.json
bin/Debug/netcoreapp3.0/GraphQL.Client.dll
bin/Debug/netcoreapp3.0/GraphQL.Common.dll
bin/Debug/netcoreapp3.0/InterfazAlumnos.deps.json
bin/Debug/netcoreapp3.0/InterfazAlumnos.dll
bin/Debug/netcoreapp3.0/InterfazAlumnos.exe
bin/Debug/netcoreapp3.0/InterfazAlumnos.pdb
bin/Debug/netcoreapp3.0/InterfazAlumnos.runtimeconfig.dev.json
bin/Debug/netcoreapp3.0/InterfazAlumnos.runtimeconfig.json
bin/Debug/netcoreapp3.0/InterfazAlumnos.Views.dll
bin/Debug/netcoreapp3.0/InterfazAlumnos.Views.pdb
bin/Debug/netcoreapp3.0/Newtonsoft.Json.dll
bin/Debug/netcoreapp3.0/Properties/launchSettings.json
obj/InterfazAlumnos.csproj.nuget.cache
obj/InterfazAlumnos.csproj.nuget.dgspec.json
obj/InterfazAlumnos.csproj.nuget.g.props
obj/InterfazAlumnos.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.2/InterfazAlumnos.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/InterfazAlumnos.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/InterfazAlumnos.assets.cache
obj/Debug/netcoreapp2.2/InterfazAlumnos.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/project.razor.json
obj/Debug/netcoreapp3.0/InterfazAlumnos.AssemblyInfo.cs
obj/Debug/netcoreapp3.0/InterfazAlumnos.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.0/InterfazAlumnos.assets.cache
obj/Debug/netcoreapp3.0/InterfazAlumnos.csproj.CopyComplete
obj/Debug/netcoreapp3.0/InterfazAlumnos.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.0/InterfazAlumnos.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.0/InterfazAlumnos.dll
obj/Debug/netcoreapp3.0/InterfazAlumnos.exe
obj/Debug/netcoreapp3.0/InterfazAlumnos.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.0/InterfazAlumnos.pdb
obj/Debug/netcoreapp3.0/InterfazAlumnos.RazorAssemblyInfo.cache
obj/Debug/netcoreapp3.0/InterfazAlumnos.RazorAssemblyInfo.cs
obj/Debug/netcoreapp3.0/InterfazAlumnos.RazorCoreGenerate.cache
obj/Debug/netcoreapp3.0/InterfazAlumnos.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.0/InterfazAlumnos.RazorTargetAssemblyInfo.cs
obj/Debug/netcoreapp3.0/InterfazAlumnos.TagHelpers.input.cache
obj/Debug/netcoreapp3.0/InterfazAlumnos.TagHelpers.output.cache
obj/Debug/netcoreapp3.0/InterfazAlumnos.Views.dll
obj/Debug/netcoreapp3.0/InterfazAlumnos.Views.pdb
obj/Debug/netcoreapp3.0/project.razor.json
obj/Debug/netcoreapp3.0/Razor/Views/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/Home/Alumno.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/Home/Casa.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/Home/Index.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/Home/ListaAlumnos.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/Home/ListaCasas.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/Home/Privacy.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/Shared/Error.cshtml.g.cs
obj/Debug/netcoreapp3.0/staticwebassets/InterfazAlumnos.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.0/staticwebassets/InterfazAlumnos.StaticWebAssets.xml
