@model Casa
@{
    ViewData["Title"]="Detalles de la casa";
}

<body>
    <div class="row">
        <div class="col-md-6">
            <p>
                @Html.DisplayFor(model=>model.Id)
            </p>
            <p>
                @Html.DisplayFor(model=>model.Nombre) 
            </p>
            <p>
                @Html.DisplayFor(model=>model.Direccion) 
            </p>
            <p>
                @Html.DisplayFor(model=>model.Precio) 
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <a asp-action="ListaCasas" asp-controller="Home" class="btn btn-dark">Regresar</a>
        </div>

    </div>

</body>